<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The current Time and Date</title>
</head>
<body>
	<div class="container">
		<h1>The current Time and Date</h1>
	</div>
	<div>
		<h2>Date: <%= @date %></h2>
		<h2>Time: <%= @time %></h2>
	</div>
	
</body>
</html>