<h1>User <%= @current_user.first_name %>!</h1>
		<table>
			<tr>
				<td>First Name:</td>
				<td><label for=""><%= @current_user.first_name %></label></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><label for=""><%= @current_user.last_name %></label></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><label for=""><%= @current_user.email %></label></td>
			</tr>
			<tr>
				<td>Location:</td>
				<td><select name="state" id="">
						<option <%if @current_user.state == "TX" %>selected="selected" <%end%> value="TX">TX</option>
						<option <%if @current_user.state == "CA" %>selected="selected" <%end%> value="CA">CA</option>
						<option <%if @current_user.state == "FL" %>selected="selected" <%end%> value="FL">FL</option>
					</select>
				</td>
			</tr>
		</table>

